# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Win7Debug
/x64
/component/jsoncpp/test
/component/jsoncpp/build
*.suo
*.opensdf
*.sdf
/wdk_sample
/loader/dll/Win7Debug
/loader/dll/x64
/loader/driver/Win7Debug
/loader/driver/x64
/loader/driver/Package/Win7Debug
/loader/driver/Package/x64
/loader/service/Debug
/loader/service/x64
/ipch
/loader/bin
/loader/service/*.user
/loader/web/.metadata
/loader/web/RemoteSystemsTempFiles
/loader/web/WorklightServerConfig
/loader/web/netloader-web/target
/component/jsoncpp/makefiles/vs120/x64
/component/jsoncpp/makefiles/vs120/Debug
/component/jsoncpp/makefiles/vs120/bin
/loader/service/Debug-Test
/loader/web/Servers
/loader/driver/Win7Release
/loader/driver/Package/Win7Release
/loader/dll/Win7Release
/component/jsoncpp/makefiles/vs120/Release
/loader/service/Release
